body {
  background-color: black;
  color:white;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}

.modalGameOver {
  display: none;
}

.restartBtn {
  border: 0px;
  border-radius: 5px
}

.modalVictory {
  display: none;
}

.playAgainBtn {
  border: 0px;
  border-radius: 5px;
}
img.right{transform: rotate(90deg);}
img.down{transform: rotate(180deg);}
img.left{transform: rotate(270deg);}
/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */